/* TODO: Correctly align header */

body {
  background-color: var(--темный);
  user-select: none;
}

#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
}

.logo {
  position: absolute;
  height: 60px;
  line-height: 60px;
  left: 16px;
  color: var(--белый);
  font-size: 40px;
  font-family: Comfortaa;
  font-weight: bold;
}

.topbar_btn {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: var(--синий);
  padding: 16px 16px 16px 20px;
  border-radius: 0 0 0 16px;
  border: 0px;
  color: var(--белый);
  font-size: 24px;
  font-family: Comfortaa;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  transition: .2s;
}

.topbar_btn:hover { background-color: #0d5aa7; }

.topbar_btn:active { background-color: #0c4d8e; }

#content
{
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.games
{
  position: absolute;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 40px;
  padding: 0 20px;
  border-radius: 12px;
  overflow-y: auto;
}

.game
{
  position: relative;
  width: 100%;
  aspect-ratio: 2/3;
  background-color: #ffffff;
  border-radius: 12px;
  transition: .2s;
}

.game:hover
{
  transform: scale(0.98);
}

.game:active
{
  transform: scale(0.95);
}

.window {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #4a5469;
  transform: translate(-50%, -50%);
  font-family: Comfortaa;
  left: 50%;
  top: 50%;
  width: 500px;
  border-radius: 8px;
  overflow: hidden;
  z-index: 9;
}

.window_header {
  position: relative;
  background-color: #404858;
  top: 0;
  left: 0;
  height: 39px;
  color: #ffffff;
  font-size: 24px;
  font-family: Comfortaa;
  font-weight: bold;
  padding: 16px 0 0 16px;
}

.profile_friends
{
  position: relative;
  width: 100%;
  height: 390px;
  overflow-y: auto;
}

.profile_friends_topbar
{
  position: relative;
  color: #ffffff;
  font-size: 24px;
  width: 100%;
  text-align: center;
}

.profile_friend_tile
{
  position: relative;
  display: flex;
  line-height: 0.83;
  border-radius: 12px;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
  overflow: hidden;
}

.profile_friend_icon
{
  position: relative;
  background-color: #cccccc;
  border-radius: 8px;
}

.profile_del_friend
{
  position: absolute;
  right: 0;
  padding: 16px;
  height: 100%;
  border: none;
  background: crimson;
  user-drag: none;
}

.window_close {
  position: absolute;
  right: 17px;
  top: 17px;
  height: 21px;
  width: 21px;
  border-radius: 11px;
  background-color: var(--арбузный);
  cursor: pointer;
}

.window_close:hover { background-color: var(--алый); }

.window_bg {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: brightness(70%) blur(3px);
}


/*  PROFILE WINDOW  */

.profile_pic {
  position: relative;
  left: 0;
  width: 140px;
  height: 140px;
  background-color: #fff;
  border-radius: 0 0 30px 0;
  border-width: 10px;
  border-color: #404858;
  border-style: solid;
}

.profile_name {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  font-family: Comfortaa;
  height: 40px;
  width: 250px;
  left: 180px;
  top: 107px;
}

.profile_level {
  height: 40px;
  width: 50px;
  top: 107px;
  left: 430px;
  font-size: 32px;
  font-weight: lighter;
  font-family: Comfortaa;
  text-align: right;
  color: var(--светло-серый);
}

.profile_level_bar {
  left: 180px;
  top: 147px;
  width: 300px;
  height: 16px;
  border-radius: 10px;
  background-color: #404858;
}

.profile_logout
{
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
  color: var(--арбузный);
  font-family: Comfortaa;
  font-weight: 900;
  font-size: 24px;
  text-decoration: none;
}

.profile_logout:hover { color: var(--алый); }

.wbg
{
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: brightness(70%);
}

/* REGISTER WINDOW */

input {
  font-family: Comfortaa;
  font-size: 24px;
}

#send_reg {
  position: relative;
  padding: 14px;
  background-color: var(--синий);
  color: var(--белый);
  font-size: 24px;
  top: 18px;
  font-family: Comfortaa;
  margin: 16px 28px;
  margin-bottom: 30px;
  border: 0;
  border-radius: 16px;
  transition: .2s;
}

#send_reg:hover
{
  transform: scale(0.98);
}

#send_reg:active
{
  transform: scale(0.95);
}

.inputField {
  left: 20px;
  width: 440px;
  padding: 10px 0;
  border-width: 0;
  border-radius: 16px;
  outline: none;
  text-align: center;
  transition: .4s;
  background-color: #67738c;
}

.inputField:focus
{
  box-shadow: 0 0 6pt 2pt cornflowerblue;
}

.inputField::placeholder
{
  color: #4a5263;
}

/*
#reg_username { top: 75px; }
#reg_email { top: 145px; }
#reg_pass { top: 215px; }
#reg_repeat { top: 285px; }*/
