:root
{
  --белый: #ffffff;
  --темный: #2f3542;
  --асфальт: #57606f;
  --темно-серый: #747d8c;
  --светло-серый: #a4b0be;
  --синий: #1e90ff;
  --васильковый: #70a1ff;
  --арбузный: #ff6b81;
  --алый: #ff4757;
}
