body
{
  background-color: #333333;
}

#header
{
  position: fixed;
  background-color: #1e90ff;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
}

.logo
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  height: 100%;
  padding: 0 16px;
  color: #ffffff;
  padding-top: 2px;
  font-size: 32px;
  font-family: Bahnschrift;
  font-weight: bold;
}

.user_tile
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  height: 100%;
  background-color: #0a7cec;
  padding: 0 16px;
  color: #ffffff;
  font-size: 24px;
  font-family: Bahnschrift;
  font-weight: bold;
  outline: none;
  border: none;
}

.user_tile:hover
{
  background-color: #0b71d6;
}

.user_tile:active
{
  background-color: #0862bb;
}

#user_dropdown
{
  position: fixed;
  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
  flex-direction: column;
  right: 0;
  top: 60px;
  overflow: hidden;
  text-align: center;
}

.user_dropdown_item
{
  position: relative;
  padding: 5px 30px;
  cursor: pointer;
  font-size: 20px;
}

.user_dropdown_item:hover
{
    background-color: #eeeeee;
}

.user_dropdown_item:active
{
  background-color: #dedede;
}
