body
{
  background-color: #2f3542;
  user-select: none;
}

#header
{
  position: fixed;
  background-color: #2f3542;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
}

.logo
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  height: 100%;
  padding: 0 16px;
  color: #ffffff;
  padding-top: 2px;
  font-size: 32px;
  font-family: Comfortaa;
  font-weight: bold;
}

.user_tile
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  height: 100%;
  background-color: #0a7cec;
  padding: 16px 16px 16px 20px;
  border-radius: 0 0 0 30px;
  color: #ffffff;
  font-size: 24px;
  font-family: Comfortaa;
  font-weight: bold;
  outline: none;
  border: none;
}

.user_tile:hover
{
  background-color: #0b71d6;
}

.user_tile:active
{
  background-color: #0862bb;
}

.level_box
{
  position: absolute;
  height: 16px;
  width: 95%;
  background-color: #333333;
  border-radius: 8px;
  left: 2.5%;
  bottom: 16px;
}


/*  SETTINGS WINDOW  */
#profile
{
  position: fixed;
  display: none;
  background-color: #4a5469;
  height: 600px;
  width: 500px;
  left: calc(50% - 250px);
  top: calc(50% - 300px);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
}

.profile_header
{
  position: relative;
  background-color: #404858;
  color: #ffffff;
  font-size: 24px;
  font-family: Comfortaa;
  font-weight: bold;
  padding: 16px 0 12px 16px;
}

.profile_close
{
  position: absolute;
  right: 16px;
  top: 16px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: #f76161;
  cursor: pointer;
}

.profile_close:hover
{
  background-color: #d44545;
}

.profile_bg
{
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(3px);
}
