body
{
  background-color: #70a1ff;
  user-select: none;
}

#board
{
  position: absolute;
  left: calc(50% - 400px);
  top: calc(50% - 400px);
  border-radius: 24px;
}

#pieces
{
  position: absolute;
  left: calc(50% - 400px);
  top: calc(50% - 400px);
  width: 800px;
  height: 800px;
}

.piece
{
  position: absolute;
  display: flex;
  width: 12.5%;
  height: 12.5%;
  color: red;
  font-size: 32px;
  align-items: center;
  justify-content: center;
}
