body
{
  background-color: #2f3542;
  user-select: none;
  overflow: hidden;
}

#board
{
  position: absolute;
  left: calc(50% - 740px);
  top: calc(50% - 360px);
  width: 1480px;
  height: 720px;
  border-radius: 24px;
  background-color: #59647b;
  overflow: hidden;
}

.state
{
  position: absolute;
  left: 0;
  top: 0;
  height: 720px;
  width: 720px;
  background-color: #57606f;
}

.wordInput
{
  position: absolute;
  left: 988px;
  top: 60px;
  width: 50px;
  text-align: center;
  outline: none;
  font-size: 45px;
  border-radius: 5px;
}

.wordTile
{
  position: relative;
  width: 40px;
  height: 100%;
  text-align: center;
  outline: none;
  font-size: 36px;
  background-color: #ffffff;
  border: 1px #3c4350 solid;
  border-radius: 5px;
}

.result
{
  position: absolute;
  left: 720px;
  height: 40px;
  display: inline-flex;
}
