body
{
  background-color: #70a1ff;
  user-select: none;
}

#form
{
  position: absolute;
  background-color: #5f81f1;
  left: calc(50% - 200px);
  top: calc(50% - 130px);
  width: 400px;
  padding: 10px 0;
  border-radius: 20px;
  border: none;
}

.form_header
{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 0;
  right: 0;
  height: 80px;
  color: #ffffff;
  font-family: Bahnschrift;
  font-size: 46px;
  font-weight: bold;
}

.form_input
{
  position: relative;
  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
  width: 340px;
  height: 50px;
  margin: 20px 30px;
  padding: 0;
  border: none;
  outline: none;
  font-size: 28px;
  text-align: center;
  font-family: Bahnschrift;
}

.form_next
{
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  font-family: Bahnschrift;
  text-decoration: none;
  padding: 6px;
  left: calc(50% - 38px);
}

#message
{
  position: absolute;
  bottom: 20px;
  left: 10%;
  right: 10%;
  height: auto;
  background-color: #587ae8;
  border-radius: 8px;
  padding: 24px;
  color: #ffffff;
  font-size: 18px;
  text-align: justify;
  font-family: Comfortaa;
  box-shadow: 1px 1px 1px 1px aliceblue;
}
