body
{
  background-color: #2f3542;
  user-select: none;
  overflow: hidden;
}

#board
{
  position: absolute;
  left: calc(50% - 400px);
  top: calc(50% - 400px);
  border-radius: 24px;
  background-color: #59647b;
}

#tiles
{
  position: absolute;
  left: calc(50% - 400px);
  top: calc(50% - 400px);
  width: 800px;
  height: 800px;
}

.tile
{
  position: absolute;
  display: flex;
  width: 12.5%;
  height: 12.5%;
  color: red;
  font-size: 32px;
  align-items: center;
  justify-content: center;
}

.palette
{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: calc(50% + 400px);
  top: calc(50% - 400px);
  border-radius: 24px;
  background-color: #57606f;
  width: 200px;
  height: auto;
  padding: 10px;
  overflow: hidden;
}

.pallete_color
{
  position: relative;
  background-color: #505050;
  border: 4px solid #000000;
  border-radius: 10px;
  transition: .1s;
  width: auto;
  height: 60px;
}

.pallete_color:active
{
  transform: scale(0.95);
}

.pallete_color_label
{
  position: relative;
  width: 100%;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  font-family: Arial;
}

#tool
{
  margin-top: 10px!important;
  height: 70px;
  margin: 0 4px;
  border-radius: 12px;
  border: 2px solid #000000;
  transition: .1s;
}

#tool:hover
{
  transform: scale(0.98);
}

#tool:active
{
  transform: scale(0.93);
}

.brush_width
{
  position: relative;
  -webkit-appearance: none;
  background-color: #747d8c;
  border-radius: 12px;
  margin-top: 20px;
  width: 200px;
  overflow: hidden;
}

.brush_width::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #a4b0be;
  cursor: pointer;
}

.brush_width::-webkit-slider-thumb:hover {
  opacity: 0.7;
}

.brush_width::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #a4b0be;
  cursor: pointer;
}

.brush_width::-moz-range-thumb:hover {
  opacity: 0.7;
}
